<div *ngIf="message.isSender; then senderTemplate; else receptorTemplate"></div>
<ng-template #receptorTemplate>
  <div class="chat-body white p-3 ml-2 z-depth-1 justify-content-left my-3">
    <div class="header">
      <img [src]="message.avatar" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
      <strong class="primary-font">{{message.name}}</strong>
      <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{message.timestamp | date : 'dd/MM/yyyy' }}
      </small>
    </div>
    <hr class="w-100">
    <p class="mb-0">
      {{message.content}}
    </p>
  </div>
</ng-template>
<ng-template #senderTemplate>
  <div class="chat-body white p-3 ml-2 z-depth-1 justify-content-right my-3">
    <div class="header">
      <img [src]="message.avatar" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
      <strong class="primary-font">{{message.name}}</strong>
      <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{message.timestamp | date : 'dd/MM/yyyy' }}
      </small>
    </div>
    <hr class="w-100">
    <p class="mb-0">
      {{message.content}}
    </p>
  </div>
</ng-template>

