.justify-content-right {
  position: relative;
  clear: both;
  float: right;
}

.justify-content-left {
  position: relative;
  clear: both;
  float: left;
}

.chat-body {
  max-width: 90%;
  min-width: 15vw;
}
